body{
    margin: 0;
}

#image-container{
    width: 60%;
    height: 70%;
    position: absolute;
    background-color: #ffc4df;
    left: 20%;
    top: 25%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}



.image-box{
    position: relative;
    /* background-color: #909524; */
    width: 100%;
    height: 90%;
    margin: 0;
    top: -15px;
    padding: 0;
    /* background-image: url(./img1.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;     
    border-top-left-radius: 5%;


   
}

.fade{
    animation-name: img-load;
    animation-duration: 1.5s;
}





#image-index{
    position: relative;
    width: 10%;
    height: 9%;
    text-align: center;
    color: white;
    padding-top: 10px;
    
}

#previous{
    top: 45%;
    position: relative;
    width: 5%;
    left: 2%;
}

#previous:hover{
    background-color: #b3a1a19e;
    cursor: pointer;
}

#next{
    left: 88%;
    top: 45%;
    position: relative;
    width: 5%;
    transition: 0.6s ease;
}

#next:hover{
    background-color: #b3a1a19e;
    cursor: pointer;
}

@keyframes img-load{
    0% {opacity: 0.5;}
    100% {opacity: 1;}
}

#bottom-image-bar{
    position: relative;
    background-color: rgb(202, 196, 196);
    width: 100%;
    height: 10%;
    top: -15px;
    display: flex;
    align-items: center;   
    justify-content: center;
    border-bottom-right-radius: 180%;
}

.circle{
    background-color: white;
    width: 15px;
    height: 15px;
    position: relative;
    /* left: 45%; */
    
    border-radius: 100%;
    border: #ffffff6b 1px solid;
    margin-right: 1%;
}

.circle:hover{
    cursor: pointer;
    background-color: gray;
    transition: 0.6s ease;
}

